.passport {
    font-family: 'consola';
    .carousel {
        width: 615px;
        .ant-carousel{
            .slick-dots {
                width: 100%;
                margin-bottom:-32px;
                li {
                    width:12px !important;
                    height:12px !important;
                    border-radius: 50%;
                    margin-right: 8px;
                    margin-left: 8px;
                    &.slick-active {
                        button {
                            background-color: #EAD8B7;
                        }
                    }
                    button{
                        width:12px !important;
                        height:12px !important;
                        border-radius: 50% !important;
                    }
                }
            }
        }
        
  .ant-space {
    width: 100%;
    margin-top: 82px;
    border-top:1px solid rgba(234, 216, 183, 0.2);
    .ant-collapse {
      background: #000000;
      color: rgba(234, 216, 183, 1);
      border: 0;
      border-bottom:1px solid rgba(234, 216, 183, 0.2);
    }

    .ant-collapse > .ant-collapse-item {
      border: 0;
    }

    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      color: rgba(234, 216, 183, 1);
      font-family: 'consola';
      font-weight: bold;
      font-size: 20px;

      &:hover {
        // background: #484854;
      }
    }

    .ant-collapse-content {
      color: rgba(234, 216, 183, 1);
      background-color: #1D1D22;
      border-color: #141416;
      font-size: 16px;
    }

    .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
      padding: 25px 0px;
    }

    .ant-collapse-content > .ant-collapse-content-box {
      padding: 20px 40px;
    }

    .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
      right: 40px;
    }

    .ant-collapse-item-active {
      .ant-collapse-arrow {
        transform: translateY(-50%) rotateX(180deg);
      }
    }
  }
    }
    .good{
        width: 712px;
    }
    .benefits {
        width: 712px;
        background: linear-gradient(45deg, #CDDDF4 0%, #CDBAFA 100%);
        border-radius: 24px;
        padding: 4px;
        overflow: hidden;
        .title{
            padding: 12px 20px;
            color: #000
        }
        .contents{
            background-color: #000;
            border-radius: 24px;
            padding: 30px 20px;
        }
    }
    .type-box {
        width: 230px;
        background-color: rgba(21, 21, 21, 1);
        border-radius: 16px;
        border:2px solid rgba(21, 21, 21, 1);
        position: relative;
        .yes {
            width: 32px;
            height: 27px;
            background: #EAD8B7;
            border-radius: 0 16px 0 33px;
            position: absolute;
            right:0;
            top:0;
            align-items: center;
            justify-content: center;
            padding-bottom: 2px;
            padding-left: 2px;
            display: none;
        }
        &.active{
            border:2px solid rgba(234, 216, 183, 1);
            background-color: #000;
            .yes{
                display: flex;
            }
        }
        .price {
            .token{
                width: 24px;
                height:24px;
                border-radius: 50%;
            }
        }
        .cal {
            width: 198px;
            height: 48px;
            border-radius: 32px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            padding: 0 20px;
            input {
                background-color: transparent;
                color: #fff;
                font-size: 20px;
                width: 100px;
                outline: none;
                border: none;
            }
        }
    }
    .currency-area {
        .title {
            width: 124px;
        }
        .tokens {
            .token-icon {
                border-radius: 50%;
                width: 32px;
                height:32px;
            }
            .token-items {
                width: 125px;
                border-radius: 32px;           
                 border: 1px solid rgba(255, 255, 255, 0.2);

            }
        }
        .discount {
            background-color: rgba(251, 67, 50, 0.2);
            color:rgba(251, 67, 50, 1);
            padding:0 12px;
            border-radius: 16px;
            height:32px;
            line-height: 32px;
            box-sizing: border-box;
            margin-left: 11px;
        }
    }
    .member {
        background-color: rgba(21, 21, 21, 1);
        padding: 19px;
        border-radius: 16px;
    }
    .desc{
        color:rgba(147, 147, 147, 1)
    }
    .bottom-btn {
        width: 343px;
        height: 76px;
        border-radius: 38px;
        
        &.invite-btn {
            background-color: #000;
            border:2px solid #EAD8B7;
            &:hover{
               color: rgba(234, 216, 183, 1) !important
            }
        }
        
        &.pay-btn {
            &:hover{
               color: #000 !important;
               background-color: rgba(234, 216, 183, 1) !important;
            }
        }
    }
}