.airdrop {
    background-color: #050215;
    min-height: 100vh;
    font-family: DINPro;
    overflow-x: hidden;
    .progress-tab {
        .ant-tabs-nav {
            display: none;
        }
    }
    .tab-nav-progress {
        width: 214px;
        height: 40px;
        border-radius: 24px;
        border: 1px solid;
        background-color: rgba(37, 43, 220, 0.2);
        border-color: rgba(50, 125, 238, 0.8);
        padding: 0 5px;
        .tab-nav-inner {
            height: 30px;
            &.active {
                background: linear-gradient(39deg, #4D52E9 0%, #252BDC 100%);
                border-radius: 24px;
            }
        }
    }
    .airdrop-banner {
        position: relative;
        background: url('../assets/images/airdrop/airbg.png') center top no-repeat;
        background-size: 1920px 975px;
        height: 975px;
        .dotbg {
            position: absolute;
        }
        .airdrop-banner-content {
            width: 1200px;
            margin: 0 auto;
            position: relative;
            .air-left-part {
                width: 530px;
                .kepler {
                    font-family: DINPro-Bold;
                    font-size: 56px;
                    font-weight: bold;
                    color: #FFFFFF;
                    // line-height: 44px;
                    background: linear-gradient(70deg, #2253FF 0%, #A6E5FF 100%, #A6E5FF 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                .slogan{
                    font-size: 56px;
                    font-weight: bold;
                    color: #FFFFFF;
                    line-height: 60px;
                    font-family: DINPro-Bold;
                    .aaa {
                        position: relative;
                        display: inline-block;
                        img {
                            position: absolute;
                            top: 0
                        };
                    }
                }
                .air-btn {
                    width: 240px;
                    height: 72px;
                    border-radius: 72px;
                }
                .white-btn{
                    background: linear-gradient(270deg, rgba(255, 136, 31, 0.2) 0%, rgba(55, 74, 255, 0.15) 100%);
                    border: 1px solid #FC7500; 
                    // border-image: radial-gradient(circle, rgba(59, 58, 208, 1), rgba(252, 117, 0, 1)) 1 1;
                }
            }
            .air-right-part {
                width: 530px;

                .logo-area{
                    position: relative;
                    &:hover{
                        .hover{
                            display: block;
                        }
                    }
                    .hover {
                        position: absolute;
                        left:-33px;
                        top: -12px;
                        z-index: 0;
                        width:147px;
                        max-width: 147px;
                        display: none;
                    }
                }
                .progress-info {
                    font-size: 14px;
                }
                .token-logo {
                    width: 80px;
                    height: 80px;
                }
                .progress-outter {
                    height: 20px;
                    background: rgba(216, 216, 216, 0.15);
                    border-radius: 10px;
                    padding: 0 5px;
                    position: relative;
                    .progress-inner {
                        min-width: 12px;
                        height: 12px;
                        background: linear-gradient(242deg, #003ABB 0%, #846EFF 100%);
                        border-radius: 6px;
                        &.looksrare {
                                background: linear-gradient(270deg, #00D244 0%, #374AFF 100%);
                        }
                        
                        &.bend {
                            background: linear-gradient(270deg, #E02020 0%, #FA6400 17%, #F7B500 33%, #6DD400 50%, #0091FF 67%, #6236FF 83%, #B620E0 100%);
                        }
                        &.sandbox {
                            background: linear-gradient(242deg, #0085FF 0%, #00ADEF 100%);
                        }
                        &.axs {
                            background: linear-gradient(270deg, #8960E8 0%, #00CBF8 100%);
                        }
                        &.wrld {
                            background: linear-gradient(90deg, #6C9830 0%, #224B7D 100%);
                        }
                    }
                    .progress-text {
                        position: absolute;
                        right: 5px;
                    }
                }
            }
            .arrow {
                width: 169px;
                height:117px;
                position: absolute;
                left: 530px;
                bottom: -210px;
            }
            
            .who {
                width: 570px;
                height: 147px;
                left: -120px;
                bottom: -210px;
                position: absolute;
                background: url('../assets/images/airdrop/who.png')   no-repeat;
                background-size: cover;
                .flower{
                    position: absolute;
                    left:72px;
                    top: 65px;
                }
                .message {
                    position: absolute;
                    left: 148px;
                    top: 60px;
                    .msg-item {
                        width: 350px;
                    }
                    .ant-carousel {
                        max-height: 31px !important;
                        overflow: hidden;
                    }
                }
                .avatar {
                    width: 24px;
                    height:24px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }
    }
    .airdrop-info {
        position: relative;
        background: url('../assets/images/airdrop/airinfobg.png') center top no-repeat;
        background-size: 1920px 731px;
        height: 731px;
        .lines-img {
            position: absolute;
            bottom: 0
        }
        .airdrop-info-content {
            width: 1200px;
            margin: 0 auto;
            position: relative;
            .metrics {
                width: 316px;
                position: absolute;
                left: 162px;
                top:90px;
                .metrics-title {
                    line-height: 50px;
                }
            }
            .right-info-part {
                position: relative;
            }
            .giveaway {
                .giveaway-title {
                    font-family: DINPro-Bold;
                    line-height: 30px;
                }
                width: 139px;
                position: absolute;
            }
            .giveaway-area {
                top:89px;
                left: 83px;
            }
            .start {
                top:252px;
                left: 83px;
            }
            .snapshot {
                top:149px;
                left: 338px;
            }
            .end {
                top:311px;
                left: 338px;
            }
            .question {
                width: 363px;
                top: 494px;
                position: relative;
                text-align: center;
                margin: 0 auto;
                .line {
                    position: absolute;
                    background: #1B2631;
                    &.line1{
                        width: 307px;
                        height: 1px;
                        bottom: -16px;
                        left: -23px;
                    }
                    &.line2{
                        width: 1px;
                        height: 91px;
                        top: -12px;
                        left: -17px;
                    }
                    &.line3{
                        width: 53px;
                        height: 1px;
                        top: -16px;
                        right: -25px;
                    }
                    &.line4{
                        width: 1px;
                        height: 76px;
                        top: -23px;               
                        right: -16px;
                    }
                }
            }
            .star {
                position: absolute;
                &.star1 {
                    top: 38px;
                    right: 0;
                }
                &.star2 {
                    left: 0px;
                    top: 408px;
                }
                &.star3 {
                    left: 438px;
                    top: 69px;
                }
            }
            .footer{
                top: 634px;
                position: relative;
                margin: 0 auto;
                .mini-logo {
                    width: 87px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .airdrop {
        .airdrop-banner {
            position: relative;
            background: url('../assets/images/airdrop/bg-mobile.png') center bottom no-repeat;
            background-size: cover;
            height: auto;
            padding-bottom: 280px;
        }
    }
    .airdrop-banner-content {
       flex-direction: column;
       width: 100% !important;
    }
    .airdrop-banner {
        padding-top: 80px;
    }
    .air-left-part {
        padding-top: 32px;
        max-width: 100%;
        width: 100% !important;
        .slogan, .kepler{
            font-size: 40px !important;
            line-height: 46px !important;
            text-align: center;
        }
        .kepler-desc {
            text-align: center;
            padding: 0 16px;
            margin-top: 16px;
        }
        .kepler-desc-ce {
            text-align: center;
            padding: 0 16px;
        }
        .btns {
            flex-direction: column;
            margin-top:16px;
            padding: 16px;
            .air-btn {
                height: 56px !important;
                width: 100% !important;
            }
            .white-btn {
                margin-top:16px;
            }
        }
        .white-line{
            width: 100%;
            padding: 30px 16px;
            .line-item {
                width: 100%;
                height:1px;
                background-color: #fff;
            }
        }
    }
    .air-right-part {
        padding:16px;
        width: 100% !important;
        .token-logo {
            width: 54px !important;
            height: 54px !important;
        }
        
        .token-item {
            margin-bottom: 25px !important;
        }
        .progress-part {
            padding-left: 18px;
            .token-name {
                font-size: 14px;
                line-height: 16px;
            }
            .progress-info {
                font-size: 12px !important;
                line-height: 14px;
            }
            .progress-outter {
                margin-top: 5px;
                height: 17px !important;
                .progress-inner{
                    height: 8px !important;
                    min-width: 8px !important;
                }
            }
        }
    }
    .trust_icon {
        width: 25px;
    }
    .who {
        width: 100% !important;
        height: 147px;
        left: 0px !important;
        bottom: 0px !important;
        position: relative !important;
        background: url('../assets/images/airdrop/who.png')   no-repeat;
        background-size: 98% !important;
        .flower{
            position: absolute;
            left:10% !important;
            top: 25% !important;
            transform: translateY(25%);
        }
        .message {
            position: absolute;
            left: 25% !important;
            top: 25% !important;
            .msg-item {
                width: 80% !important;
            }
        }
        .avatar {
            width: 15px !important;
            height:15px !important;
            border-radius: 50%;
            margin-right: 5px !important;
        }
        .message-text {
            font-size: 12px;
        }
    }
    .airdrop-info {
        position: relative;
        background: url('../assets/images/airdrop/airinfobg.png') center top no-repeat;
        background-size: cover !important;
        height: auto !important;
        .metrics-box {
            flex-direction: column;
            padding: 16px;
        }
        .airdrop-info-content {
            width: 100% !important;
            .giveaway {
                position: relative !important;
                left: 0 !important;
                top: 0 !important
            }
            .right-info-part {
                width: 100%;
                margin-top: 40px;
            }
        }
        .question {
            top: 0 !important;
            width: 80% !important;
            font-size: 15px !important;
            margin-bottom: 50px !important;
            margin-top: 30px !important;
        }
        .footer {
            top: 0 !important;
            padding-bottom: 20px;
        }
        .metrics-title {
            font-size: 38px !important;
        }
        .metrics-desc {
            font-size: 18px !important;
            margin-top: 15px !important
        }
        .giveaway-title {
            font-size: 20px !important;
        }
        .giveaway-desc {
            font-size: 16px !important;
        }
        .snapshot, .end{
            margin-left: 50%;
        }
        .metrics {
            position: relative !important;
            left: 0 !important;
            top:0 !important;
        }
        
        .lines-mobile {
            width: 200% !important;
            max-width: 200% !important;
        }
    }
}